 # US Statewise Population Analysis

## Questions:
### Which state has the highest population as per the latest records?
### Which state provides the most land : population ratio for their citizens?
### Which state has the least land : water ratio?
### Which state has the highest population growth rate in the past 6 years?
### List the states which have had a -ve population growth in any year

In [1]:
import requests
import json
import pandas as pd

In [2]:
url = "https://datausa.io/api/data?drilldowns=State&measures=Population"
response = requests.get(url)
result = json.loads(response.text)["data"]
df = pd.DataFrame(result)
# df

In [3]:
df = df.pivot_table("Population", ["State"], "Year")

In [4]:
df.reset_index(inplace=True)
df = df.rename_axis(None, axis=1)
df1 = df1 = pd.read_csv("state_area_data.csv")
df = pd.merge(df,df1, on="State")
# df


### Question 1: Which state has the highest population as per the latest records?

In [5]:
df[["State","2019"]].sort_values(by="2019", ascending=False).head()

           State      2019
4     California  39512223
44         Texas  28995881
9        Florida  21477737
32      New York  19453561
38  Pennsylvania  12801989

### California has the highest population as per the latest records

### Question 2: Which state provides the most land : population ratio for their citizens?

In [6]:
df["Land Per Person sq. m"] = round((df["LandArea"]/df["2019"])*2589988)

In [7]:
df[["State","Land Per Person sq. m"]].sort_values(by="Land Per Person sq. m", ascending=False).head()

           State  Land Per Person sq. m
1         Alaska              2020318.0
51       Wyoming               434498.0
26       Montana               352704.0
34  North Dakota               234511.0
42  South Dakota               221949.0

### This shows us that Alaska provides the most area per person

### Question 3: Which state has the least land : water ratio?

In [8]:
df["Land:Water"] = df["LandArea"]/df["WaterArea"]

In [9]:
df[["State","Land:Water"]].sort_values(by="Land:Water", ascending=True).head()

            State  Land:Water
22       Michigan    1.407318
11         Hawaii    1.424484
40   Rhode Island    2.023483
21  Massachusetts    2.832244
20       Maryland    3.596517

### This shows us that Michigan has the least land : water ratio

### Question 4: Which state has the highest population growth percentage in the past 6 years?

In [10]:
df["Population Growth"] = round(((df["2019"]-df["2013"])/df["2013"])*100,2)

In [11]:
df[["State","Population Growth"]].sort_values(by="Population Growth", ascending=False).head()

      State  Population Growth
12    Idaho              10.85
45     Utah              10.52
28   Nevada              10.39
2   Arizona               9.84
9   Florida               9.84

### This shows us that Idaho has had the highest population growth percentage in the past 6 years.

### Question 5: List the states which have had a -ve population growth in any year

In [12]:
filt = (df["2014"] - df["2013"] < 0) | (df["2015"] - df["2014"] < 0) | (df["2016"] - df["2015"] < 0) | (df["2017"] - df["2016"] < 0) | (df["2018"] - df["2017"] < 0) | (df["2019"] - df["2018"] < 0)
df[filt]["State"]

1            Alaska
4        California
6       Connecticut
11           Hawaii
13         Illinois
15             Iowa
16           Kansas
17         Kentucky
18        Louisiana
19            Maine
20         Maryland
21    Massachusetts
22         Michigan
24      Mississippi
30       New Jersey
31       New Mexico
32         New York
34     North Dakota
35             Ohio
38     Pennsylvania
39      Puerto Rico
40     Rhode Island
46          Vermont
49    West Virginia
51          Wyoming
Name: State, dtype: object

### The above listed states have had -ve population growth in one or more of the past 6 years.